.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  width: 95%;
  margin-bottom: 20px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  cursor: pointer;
}
.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #99E2D0;
  color: #008766;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 2px;
}
.card .card-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}
.card .card-body .card-title {
  margin-bottom: 5px;
}
.card .card-body .card-content {
  margin-top: 5px;
}
.card .card-body input {
  display: none;
}
.card .card-body input:checked + label .heart-icon {
  background: linear-gradient(to bottom, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1);
  transition: 1s ease;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f004";
}
.card .card-body .card-texte {
  margin-left: 10px;
}
.card .card-body .card-icon {
  margin-right: 10px;
}
.card .card-body .card a {
  display: inline-block;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  width: 218px;
  height: 50px;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform;
  transition-duration: 1ms;
  transition: filter 1s ease-in-out;
}

button:hover {
  filter: brightness(1.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

button:not(:hover) {
  transition: filter 0.5s ease-in-out;
  filter: brightness(1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #F6F6F6;
  background-size: cover;
  width: 100%;
  margin: 0;
  min-width: 320px;
}
body h2 {
  margin-left: 10px;
  font-weight: bold;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  animation: loader-hide 3s forwards;
}

@keyframes loader-hide {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.spinner {
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.title-page {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 10px;
}
.title-page img {
  width: 162px;
  height: 40px;
}

input {
  all: unset;
  width: 110px;
}

.cities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #EAEAEA;
  background-size: cover;
  height: 5vh;
  color: #353535;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
  padding-top: 5px;
  padding-bottom: 5px;
}

.reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.reserve h1 {
  padding-top: 20px;
  font-size: 25px;
  width: 250px;
}
.reserve p {
  padding-bottom: 15px;
  width: 315px;
  margin-top: 0px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 70px;
  width: 218px;
  height: 50px;
  color: white;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform;
  transition-duration: 1ms;
  transition: filter 1s ease-in-out;
}
button:hover {
  filter: brightness(1.3);
}

button:not(:hover) span {
  transform: translate(0, 0);
}

button:not(:hover) {
  transition: filter 0.5s ease-in-out;
  filter: brightness(1);
}

.functioning {
  background-color: white;
  padding-top: 10px;
  margin-top: 50px;
  padding-bottom: 50px;
}
.functioning i {
  color: #7E7E7E;
}
.functioning .choose:hover .fa-solid,
.functioning .compose:hover .fa-solid,
.functioning .deguste:hover .fa-solid {
  color: #9356DC;
  transition: color 0.1s;
}
.functioning .numbers {
  color: white;
  background-color: #9356DC;
  border-radius: 20px;
  width: 22px;
  height: 22px;
  text-align: center;
}
.functioning .circle {
  display: flex;
  align-items: center;
  gap: 40px;
}

.functioning-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 15px;
  width: 90%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.compose {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin-top: 10px;
  width: 90%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.deguste {
  display: flex;
  background-color: #F6F6F6;
  border-radius: 15px;
  margin-top: 10px;
  width: 90%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.restaurants {
  margin-top: 50px;
}

.restau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: inherit;
  text-decoration: none;
  width: 100%;
}

footer {
  background-color: #353535;
  background-size: cover;
  color: #FFFFFF;
}
footer .title-footer {
  font-family: "Shrikhand", serif;
  font-size: 12px;
  color: white;
  letter-spacing: 1px;
  margin-top: 30px;
  padding-top: 3px;
}
footer .title {
  font-weight: normal;
}
footer .footer-content {
  margin-left: 10px;
  padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
  body {
    font-family: "Roboto", sans-serif;
    background-color: #F6F6F6;
    background-size: cover;
    margin: 0;
  }
  body h2 {
    margin-left: 10%;
  }
  .title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
  }
  .title-page img {
    width: 162px;
    height: 44px;
  }
  .cities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #EAEAEA;
    background-size: cover;
    height: 5vh;
    color: #353535;
    box-shadow: none;
  }
  .reserve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .reserve h1 {
    width: auto;
    font-size: 35px;
  }
  .reserve p {
    width: auto;
  }
  .heart-icon:hover {
    background: linear-gradient(to bottom, #9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1);
    transition: 1s ease;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
  }
  .functioning-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80%;
    margin-left: 10%;
  }
  .choose {
    display: flex;
    background-color: #F6F6F6;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .compose {
    display: flex;
    background-color: #F6F6F6;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .deguste {
    display: flex;
    background-color: #F6F6F6;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .restaurants {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: -860px;
  }
  .restau {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 80%;
    margin: 0 auto;
  }
  .card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 100%;
  }
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .card .card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
  }
  .card .card-body .card-title {
    margin-bottom: 5px;
  }
  .card .card-body .card-content {
    margin-top: 5px;
  }
  .card .card-body input {
    display: none;
  }
  .card .card-body input:checked + label .heart-icon {
    color: #9356DC;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f004";
  }
  footer {
    background-color: #353535;
    background-size: cover;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 70px;
    gap: 80px;
    padding-top: 30px;
  }
  footer .title-footer {
    font-family: "Shrikhand", serif;
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
    margin-top: -15px;
  }
  footer .footer-content {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
