@media screen and (max-width: 767.98px) {

* {
    font-family: 'Roboto', sans-serif;
    
}

body {
    background-color: #F6F6F6;
    background-size: cover;
    width: 100vw;
    margin: 0;
    min-width: 320px;
    
}


.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 360px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.restau {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.card img {
    width: 370px;
    height: 150px;
    object-fit: cover;
    margin-left: -5px;
    margin-top: -5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.card-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.card-title {
    margin-bottom: 5px;
}
.card-content {
    margin-top: 5px;
}

input {
    display: none;
}

 input:checked + label .heart-icon {
    color: #9356DC; /* Couleur du cœur plein */
    font-family: "Font Awesome 5 Free"; /* Indique qu'on utilise Font Awesome */
    font-weight: 900; /* Permet d’afficher l'icône pleine */
    content: "\f004"; /* Code unicode du cœur plein */
}

.title-page img {
    width: 162px;
    height: 44px;
}

.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
    background-color: #FFFFFF;
}

.cities {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #EAEAEA;
    background-size: cover;
    height: 5vh;
    color: #353535;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.3);
}

.reserve {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: center;   
}

.reserve button {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    width: 250px;
    height: 50px;
    margin-left: 20%;
    color: white;
    background: linear-gradient(to bottom, #FF79DA, #9356DC);
    border: none;
}

.functioning {
    background-color: white;
    padding: 10px;
    margin-top: 50px;
    padding-bottom: 50px;
}
.functioning i {
color: #9356DC;
}

h3 {
    margin-left: 10px;
}

.choose {
    display: flex;
    margin-left: 10px;
    background-color: #F6F6F6;
    border-radius: 20px;
}
.numbers {
    color: white;
    background-color: #9356DC;
    border-radius: 20px;
    width: 22px;
    height: 22px;
    text-align: center;    
}
.compose {
    display: flex;
    margin-left: 10px;
    background-color: #F6F6F6;
    border-radius: 20px;
    margin-top: 10px;
}

.deguste {
    display: flex;
    margin-left: 10px;
    background-color: #F6F6F6;
    border-radius: 20px;
    margin-top: 10px;
}

.circle {
    display: flex;
    align-items: center;
    gap: 40px;
}

.restaurants {
    margin-top: 50px;

}


footer {
    background-color: #353535;
    background-size: cover;
    color: #FFFFFF;
}
.titre {
    font-family: 'Shrikhand', serif;
    font-size: 20px;
    color: white;
    letter-spacing: 1px;
}

.title-footer {
    margin-left: 10px;
}
    
.footer-content {
    margin-left: 10px;
}


}